<% User.administrators.each do |user| %>
  <%= link_to blogs_path(author: user.name, category: params[:category]), class: "blogs-author-link#{" active" if params[:author] == user.name}" do %>
    <div class="blogs-author">
      <% if user.image.blank? %>
        <div class="blogs-author-no-image"></div>
      <% else %>
        <%= image_tag user.image.thumb.to_s, class: 'blogs-author-image' %>
      <% end %>
      <span class="blogs-author-name"><%= user.name %></span>
    </div>
  <% end %>
<% end %>
