<main class="blogs-wrapper">
  <div class="container">
    <div class="blogs-wrapper-heading">
      Monosumida Developer's blog
    </div>
    <div class="blog-cards-wrapper">
      <% if logged_in? %>
        <div class="mb-2 text-right">
          <%= link_to new_blog_path, class: 'btn btn-dark mb-2' do %>
            <i class="far fa-edit mr-2"></i>投稿する
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-2 d-md-block d-none">
          <div class="blogs-author-wrapper">
            <%= render 'author_menu' %>
          </div>
        </div>
        <div class="col-md-8 col-12">
          <%= render @blogs %>
        </div>
        <div class="col-2 d-md-block d-none">
          <%= render 'categories_menu' %>
        </div>
      </div>
    </div>
  </div>
</main>
