<footer>
  <div class="follow-me">
    \ Follow Me /
  </div>
  <div class="follow-icons">
    <a href="https://github.com/monosumida"><i class="fab fa-github-square"></i></a>
    <a href="https://twitter.com/monosumida"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.facebook.com/monosumida"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class="footer-logo-wrapper">
    <div class="footer-logo">
      <div class="footer-brand-name brand-outer-color brand-inner-bg-color">
        <h1>
          Mono<br>
          sumida
        </h1>
      </div>
      <p class="brand-inner-color">
        NOT SURE,<br>
        WHAT WILL WE DO.
      </p>
    </div>
  </div>
</footer>
