<%= link_to root_path, class: 'brand', id: 'global-nav-logo-for-sp' do %><h1 class="global-nav-logo">Mono<br>sumida</h1><% end %>
<nav class="global-nav clearfix">
  <div class="container">
    <%= render 'parts/nav_items' %>
  </div>
</nav>

<div id="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>
