<nav class="global-nav clearfix">
  <div class="container">
    <%= link_to root_path, class: 'brand' do %><h1 class="global-nav-logo">Mono<br>sumida</h1><% end %>
    <ul>
      <li><%= link_to 'BLOG', blogs_path %></li>
      <li><%= link_to 'TOPIC', '#' %></li>
    </ul>
  </div>
</nav>
