<div class="login-body">
  <div class="login-form-wrapper">
    <h1 class="login-text text-center">LOG IN</h1>
    <h1 class="login-top-logo text-center">Monosumida</h1>
    <%= render 'form' %>
  </div>
</div>
