<div class="container">
  <div class="jumbotron bg-white">
    <h1 class="display-4">DashBoard</h1>
    <p class="lead dash-board-lead">これから実装するのでどうか殴らないでください...</p>
    <%= link_to 'ホーム', root_path, class: 'btn btn-primary' %>
    <%= link_to 'ブログ', blogs_path, class: 'btn btn-success' %>
    <%= link_to 'ログアウト', admin_user_path(current_user), class: 'btn btn-danger', method: :delete %>
  </div>
</div>
