<div class="home-top-top-wrapper brand-outer-bg-color">
  <div class="home-top-container-wrapper">
    <div class="home-top-top-brand-name brand-outer-color brand-inner-bg-color">
      <h1>
        Mono<br>
        sumida
      </h1>
    </div>
    <p class="brand-inner-color">
      NOT SURE,<br>
      WHAT WILL WE DO.
    </p>
  </div>
  <%= render 'parts/scroll', use_gray: false %>
</div>

<article>
  <div class="container">
    <h2>About</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="dummy-image">
            DUMMY
          </div>
          <div class="card-body">
            <h3 class="card-heading">
              <span class="link-arrow"></span><span class="link-arrow-text">What will we do?</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="dummy-image">
            DUMMY
          </div>
          <div class="card-body">
            <h3 class="card-heading">
              <span class="link-arrow"></span><span class="link-arrow-text">What will we do?</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'parts/scroll', use_gray: true %>
</article>
<article class="next">
  <div class="container">
    <h2>Members</h2>
  </div>
</article>
