<style>
.dogfooding-form {
  width: 720px;
  margin: 80px auto;
}
</style>
<div class="dogfooding-form">
<h1>登録失敗後の転送先</h1>

<hr>
<% params.each do |param| %>
<p><%= param.inspect %></p>
<% end %>
</div>
