<div class="dogfooding-form">
  <form action="https://dev3-contents.bownow.jp/forms/handler/sid_281e440e1203a952d8a6" method="POST" accept-charset="UTF-8" >
    <div>
      <label for="family_name">姓</label>
      <input type="text" name="family_name" id="family_name" required>
    </div>
    <div>
      <label for="given_name">名</label>
      <input type="text" name="given_name" id="given_name" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div>
      <input type="checkbox" id="agreement" name="agreement">
      <label for="agreement">同意する</label>
    </div>
    <div>
      <input type="submit" value="Send!">
    </div>
  </form>
</div>

<style>
.dogfooding-form {
  width: 720px;
  margin: 60px auto;
}
</style>
