<div class="error-top-wrapper">
  <div class="error-font-wrapper clearfix">
    <div class="error-font">4</div>
    <div class="error-font">0</div>
    <div class="error-font">4</div>
  </div>
  <div class="error-container-wrapper">
    <div class="error-top-error-name error-outer-color error-inner-bg-color">
      <h1>
        Not<br>
        Found
      </h1>
    </div>
    <p class="error-inner-color">
      THE PAGE<br>
      YOU WERE LOOKING FOR<br>
      DOESN'T EXIST.
    </p>
  </div>
</div>
