<nav class="global-nav-admin clearfix">
  <%= link_to root_path, class: 'brand', id: 'global-nav-logo-for-sp' do %><h1 class="global-nav-admin-logo">Mono<br>sumida</h1><% end %>
  <div class="container">
    <%= render 'admin/parts/nav_items' %>
  </div>
</nav>

<div id="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>
