<div class="sidebar" data-color="purple" data-background-color="white">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <%= link_to root_path, class: 'logo-monosumida' do %>Mono<br>sumida<% end %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <%= render 'admin/parts/nav_items' %>
    </ul>
  </div>
</div>
