<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <%= link_to root_path, class: 'logo-monosumida' do %>Mono<br>sumida<% end %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <%= render 'admin/parts/nav_items' %>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top d-md-none">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <span class="navbar-brand"><%= current_user.name %></span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
