/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "rouge";
/*****************************************
 * kollek
 *****************************************/
@font-face {
  font-family: 'kollek';
  src: font-url('Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kollek-bold';
  src: font-url('Kollektif-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kollek-italic';
  src: font-url('Kollektif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kollek-bolditalic';
  src: font-url('Kollektif-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*****************************************
 * hack
 *****************************************/
@font-face {
  font-family: 'hack';
  src: font-url('Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-bold';
  src: font-url('Hack-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-italic';
  src: font-url('Hack-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-bolditalic';
  src: font-url('Hack-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$black: #1F262A;
$red: #A34747;
$light-gray: #5B676D;
$dark-gray: #2A3439;
$gray: #ECF0F1;
$white: #FFFFFF;
$main-blue: #184AFB;
$main-pink: #FAE3EB;

.brand-inner-color {
  color: #184AFB;
}
.brand-inner-bg-color {
  background-color: #184AFB;
}
.brand-outer-color {
  color: #FAE3EB;
}
.brand-outer-bg-color {
  background-color: #FAE3EB;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  letter-spacing: 1.0px;
  line-height: 1.9rem;
  position: relative;
}

main {
  margin-top: 60px;
}

a:hover, a:visited {
  color: inherit;
  background-color: rgba(0, 0 ,0 ,0);
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.send-back {
  z-index: -3;
}

/*****************************************
 * override bootstrap
 *****************************************/
@media (min-width: 1200px) {
  .container {
      max-width: 1440px;
  }
}
.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 99;
  width: 100%;
  height: 55px;
  opacity: .8;
}

.btn, .btn:hover, .btn:visited {
  color: $white;
  text-decoration: none;
}
/*****************************************
 * scroll
 *****************************************/
.scroll {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  padding-top: 60px;
  color: $white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  &:hover, &:visited {
    color: $white;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    opacity: .6;
  }
  & span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 3px solid $white;
    border-radius: 50px;
    box-sizing: border-box;
    &::before {
      position: absolute;
      top: 10px;
      left: 50%;
      content: '';
      width: 8px;
      height: 8px;
      margin-left: -3px;
      background-color: $white;
      border-radius: 100%;
      -webkit-animation: scroll-down-btn 2s infinite;
      animation: scroll-down-btn 2s infinite;
      box-sizing: border-box;
    }
  }
}
.scroll.gray {
  color: $gray;
  &:hover, &:visited {
    color: $gray;
  }
  & span {
    border: 3px solid $gray;
    &::before {
      background-color: $gray;
    }
  }
}

/*****************************************
 * article
 *****************************************/
article {
  position: relative;
  & .container {
    padding-bottom: 150px;
  }
  & h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    @media (min-width: 980px) {
      padding: 60px 0;
    }
    @media (max-width: 979px) {
      padding: 15px 0;
    }
  }
  &:nth-of-type(even) {
    background-color: $gray;
  }
  &:nth-of-type(odd) {
    background-color: $white;
  }
  & .dummy-image {
    margin: 0;
    padding: 0;
    background-color: $gray;
    width: 100%;
    height: 280px;
    text-align: center;
    font-size: 32px;
    line-height: 280px;
    border-bottom: 1px solid #eee;
  }
  & .card-heading {
    padding: 15px 10px;
  }
}

/*****************************************
 * link-arrow
 *****************************************/
.link-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 3px solid $dark-gray;
  border-bottom: 3px solid $dark-gray;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-sizing: border-box;
}
.link-arrow-text {
  font-size: 24px;
  font-family: 'Permanent Marker', cursive;
  margin-left: 15px;
}

/*****************************************
 * global-nav
 *****************************************/
@media (min-width: 980px) {
  #global-nav-logo-for-sp {
    display: none;
  }
  nav.global-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 60px;
    & a.brand {
      float: left;
      color: $black;
      display: inline-block;
      padding: 10px 0 10px;
      &:hover {
        text-decoration: none;
        opacity: .6;
      }
      & h1.global-nav-logo {
        font-family: 'kollek-bolditalic', sans-serif;
        font-size: 18px;
        margin: 0;
        padding: 0;
      }
    }
    & ul {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      & li {
        float: left;
        height: 60px;
        margin-left: 30px;
        padding: 7px 0;
        & a {
          font-family: 'kollek-italic', sans-serif;
          font-size: 16px;
          color: $black;
          position: relative;
          top: 15px;
          padding: 0 30px;
          &::before, &.current::before {
            background-color: $black;
            content: '';
            display: block;
            position: absolute;
            z-index: 99;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            left: 0;
            bottom: -15px;
            width: 0px;
            height: 3px;
          }
          &:hover {
            text-decoration: none;
          }
          &:hover::before, &.current::before {
            width: 100%;
            width: calc(100% + 3px);
          }
        }
      }
    }
  }
}
@media (max-width: 979px) {
  #global-nav-logo-for-sp {
    position: fixed;
    top: 10px;
    left: 20px;
    font-family: 'kollek-bolditalic', sans-serif;
    z-index: 99;
    color: $black;
    h1 {
      font-size: 16px;
    }
  }
  #hamburger {
    height: 50px;
    width: 50px;
    background: lighten($gray, 10%);
    position: fixed;
    top: 8px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    transition: all .2s ease;
    z-index: 9999;
    &:hover {
      background: lighten($gray, 10%);
      box-shadow: 0 0 4px rgba(0,0,0,0.1);
      transform: scale(1.1);
      transition: all .2s ease;
    }
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 28px;
      left: 50%;
      transform: translateX(-50%);
      background: $black;
      border-radius: 10px;
      transition: all .15s ease;
      &:first-child {
        top: 17px;
      }
      &:nth-child(2) {
        top: 25px;
      }
      &:last-child {
        top: 33px;
      }
    }
    &.close {
      top: 10px;
      right: 10px;
      box-shadow: 0 0 8px rgba(0,0,0,0.15);
      span {
        &:first-child {
          top: 15px;
          transform: translate(-14px, 10px) rotate(135deg);
        }
        &:nth-child(2) {
          left: -20px;
          opacity: 0;
        }
        &:last-child {
          top: 15px;
          transform: translate(-14px, 10px) rotate(-135deg);
        }
      }
    }
  }

  nav.global-nav {
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    right: 0;
    color: $black;
    background: $white;
    box-shadow: 0 1px 20px rgba(0,0,0,0.25);
    z-index: 1;
    transform: translateX(200px);
    opacity: 0;
    transition: all .2s ease-in-out;
    h1.global-nav-logo {
      display: none;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        width: 100%;
        transition: all .15s ease;
        a {
          color: $black;
          display: block;
          padding: 20px;
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: $gray;
          transition: all .15s ease;
          transform: scale(1.1);
        }
      }
    }
    &.visible {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/*****************************************
 * footer
 *****************************************/
footer {
  width: 100vw;
  background-color: $black;
  padding: 15px;
  &::before,
  &::after {
    content: '';
    display: block;
    padding: 30px;
  }
  .follow-me {
    color: $white;
    text-align: center;
    font-family: 'hack-bolditalic';
    font-size: 1.8rem;
    padding: 30px auto;
  }
  .follow-icons {
    width: 320px;
    margin: 30px auto;
    a {
      display: inline-block;
      margin-left: 70px;
      &:first-child {
        margin-left: 0;
      }
      i {
        font-size: 60px;
        color: $white;
      }
    }
  }
  .footer-logo-wrapper {
    margin: 0;
    height: 300px;
    &:after {
      content: '';
      display: block;
      margin-bottom: 15px;
    }
    .footer-logo {
      margin: 30px auto;
      width: 200px;
      & .footer-brand-name {
        color: $black;
        background-color: $white;
        position: relative;
        margin: 0;
        width: 100%;
        height: 200px;
        & h1 {
          position: absolute;
          left: 10px;
          bottom: 10px;
          font-size: 28px;
          font-family: 'kollek-bolditalic';
        }
      }
      & p {
        color: $white;
        font-family: 'kollek-bold';
        font-size: 12px;
        padding: 10px 10px;
      }
    }
  }
  .footer-copy-right {
    font-family: 'kollek';
    color: $white;
    text-align: center;
    font-size: 0.8rem;
  }
}
