$black: #1F262A;
$red: #A34747;
$light-gray: #5B676D;
$dark-gray: #2A3439;
$gray: #ECF0F1;
$white: #FFFFFF;
$main-blue: #184AFB;
$main-pink: #FAE3EB;

@media (min-width: 980px) {
  .blogs-wrapper {
    font-family: 'hack';
    .blogs-wrapper-heading {
      margin-top: 120px;
      font-family: 'kollek-bolditalic';
      font-size: 3.2rem;
      text-align: center;
    }
    .blog-cards-wrapper {
      margin-top: 60px;
      .blog-card-wrapper {
        width: 100%;
        color: $black;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
        .blog-card {
          position: relative;
          height: 180px;
          margin-bottom: 30px;
          border-radius: 15px;
          transition: .1s;
          transition: transform .1s linear;
          &:hover {
            transform: scale(1.002);
            box-shadow: 0 0 20px -8px rgba(0,0,0,0.4);
          }
          .blog-info-wrapper {
            position: relative;
            width: 100%;
            height: 180px;
            border: 1px solid #EEEEEE;
            border-radius: 15px;
            & h1 {
              font-family: 'hack-bold';
              font-size: 1.8rem;
              margin: 15px 30px;
              word-wrap: break-word;
            }
            & p.blog-publish-at {
              position: absolute;
              left: 30px;
              bottom: 15px;
              margin: 0;
              padding: 0;
              & i {
                margin-right: 5px;
              }
            }
            & .blog-author {
              position: absolute;
              right: 30px;
              bottom: 15px;
              & .blog-author-icon {
                float: left;
                margin-right: 5px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: #EEEEEE;
                & .blog-author-icon-image {
                  width: 30px;
                  height: 30px;
                  border-radius: 50px;
                }
              }
              & .blog-author-name {
                float: left;
                margin-bottom: 0;
                line-height: 30px;
              }
            }
          }
        }
      }
      & .blogs-refine-wrapper {
        &::after {
          content: '';
          display: block;
          clear: both;
        }
        & .blogs-refine-link {
          color: $black;
          & .blogs-author {
            width: 100%;
            margin-bottom: 30px;
            &::after {
              content: '';
              display: block;
              clear: both;
            }
            & .blogs-author-no-image {
              float: left;
              width: 50px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              border-radius: 50%;
              font-size: 8px;
              background-color: #EEEEEE;
            }
            & .blogs-author-image {
              float: left;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            & .blogs-author-name {
              margin-left: 10px;
              float: left;
              font-size: 1.4rem;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 979px) {
  .blogs-wrapper {
    .blogs-wrapper-heading {
      margin-top: 120px;
      font-family: 'kollek-bolditalic';
      font-size: 1.2rem;
      text-align: center;
    }
    .blog-cards-wrapper {
      .blog-card {
        color: $black;
        margin: 10px 0;
        .blog-info-wrapper {
          position: relative;
          margin: 0;
          padding: 8px 10px;
          width: 100%;
          min-height: 120px;
          border: 1px solid #EEE;
          border-radius: 15px;
          h1 {
            font-family: 'hack-bold';
            font-size: 1.2rem;
            word-wrap: break-word;
          }
          & .blog-publish-at {
            position: absolute;
            left: 12px;
            bottom: 12px;
            margin-bottom: 0;
          }
          & .blog-author {
            position: absolute;
            right: 8px;
            bottom: 8px;
            .blog-author-icon {
              float: left;
              margin-right: 8px;
              width: 30px;
              height: 30px;
              border-radius: 100%;
              background-color: #EEEEEE;
              & .blog-author-icon-image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }
            & .blog-author-name {
              float: left;
              margin-bottom: 0;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}

.blog-wrapper {
  .blog-edit-link {
    color: #AAAAAA;
    & .blog-edit-link-text {
      font-size: 14px;
      margin-right: 10px;
    }
    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    line-height: 1.4;
  }
}

.blog-new-wrapper,
.blog-edit-wrapper {
  background-color: $gray;
  & form {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    & .form-control {
      font-family: 'hack';
      &.blog-title {
        font-size: 28px;
        height: 50px;
      }
    }
    & .blog-text-field-wrapper {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60px;
    }
    & .blog-text-area-wrapper {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      & a#blog-content-btn,
      & a#blog-preview-btn {
        display: block;
        float: left;
        position: relative;
        top: 1px;
        z-index: 2;
        border: 1px solid #CED4DA;
        border-bottom: none;
        margin: 0;
        padding: 10px 30px;
        &:active,
        &:focus {
          outline: 0;
          box-shadow: 0;
        }
        &.current {
          color: $black;
          background-color: $white;
        }
      }
      & a#blog-content-btn {
        border-radius: 5px 0 0 0;
        border-right: none;
      }
      & a#blog-preview-btn {
        border-radius: 0 5px 0 0;
      }
      & #blog_content {
        font-size: 16px;
        height: calc(100vh - 250px);
        display: block;
        box-sizing: border-box;
        resize: none;
        border-radius: 0 5px 5px 5px;
        line-height: 1.5;
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:focus {
          outline: 0;
          box-shadow: none;
          border: 1px solid #CED4DA;
        }
        &.loading {
          opacity: .3;
        }
      }
      & #blog_preview {
        overflow-y: scroll;
        padding: 10px 15px;
        font-size: 16px;
        width: 100%;
        height: calc(100vh - 250px);
        color: $black;
        background-color: $white;
        border: 1px solid #CED4DA;
        border-radius: 0 5px 5px 5px;
      }
    }
    & .blog-footer-wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 55px;
      & .btn {
        float: right;
        margin-right: 30px;
      }
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
