<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Edit Blog</h4>
      <p class="card-category">Edit blog from admin.</p>
    </div>
    <div class="card-body">
      <%= render 'form', blog: @blog %>
    </div>
  </div>
</div>
